body {
    background-color: #2e2e2e;
    margin: 0;
}

.login {
    background-color: #fff;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.form__h1 {
    background-color: #fa1a1a;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    color: #fff;
}

.form__input {
    width: 85%;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0.2rem;
    display: block;
    border: none;
    border-bottom: 2px solid #ababab;
}

.form__box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
}

.box__checkbox {
    margin-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top: 0.3rem;
    appearance: none;
    border: 2px solid #ababab;
}

.box__span {
    margin-right: 1.5rem;
}

.box__span,
.box__a,
.login__p-final {
    color: #777777;
}

.form__submit {
    background-color: #fa1919;
    width: 75%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    color: #fff;
}

.login__p {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.2rem
}

.login__p-final {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;font-size: 0.9rem;
}

.login__a {
    color: black
}

.login__buttons {
    text-align: center;
}

.login__button {
    width: 6rem;
    height: 2rem;
    border: none;
    font-size: 0.8rem;
    color: #fff;
}

.facebook {
    background-color: #1b3384;
}

.twitter {
    background-color: #009fe9;
}