body{
    margin: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
}

.minecraft_tittle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    width: 45%;
}

.buttonsInRow {
    display: flexbox;
    flex-direction: row;
}